RU 
--{ Привет ты попал в некую документация для этого плагина }--

Версия для плагина - 1.21 

! Ядро - Paper

-----------

Команды -

/spec - Запросить модерацию
/smenu - Открыть меню модерации

-----------

Права -

untitled.spec.notify - Получать уведомления о запросах
untitled.spec.menu - Открывать меню модерации
untitled.spec.tp - Телепортироваться к игроку при принятии запроса
untitled.spec.gm3 - Устанавливать режим наблюдателя при принятии запроса

-----------
Остались вопросы?
Напиши мне в дискорд: olwmain

EN

--{ Hello, you've come to some documentation for this plugin }--

Plugin version - 1.21 

! Core - Paper

-----------

Commands -

/spec - Request moderation
/smenu - Open moderation menu

-----------

Permissions -

untitled.spec.notify - Receive notifications about requests
untitled.spec.menu - Open moderation menu
untitled.spec.tp - Teleport to player when accepting request
untitled.spec.gm3 - Set spectator mode when accepting request

-----------

Still have questions?
Write to me on discord: olwmain

YouTube: https://www.youtube.com/watch?v=aMKzssXHGpo (no ad it video information)
